<template>
  <Component :is="as"
    :class="[
...(primary ? ['primary'] : []),
...(secondary ? ['secondary'] : [])
  ]">
    {{ label }}
    <slot name="label"></slot>
    <slot name="icon"></slot>
  </Component>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'HB-Button',

  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    as: {
      type: [Object, String],
      default: 'button',
    },
    primary: {
      type: Boolean,
      default: false,
    },
    secondary: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: undefined,
    },
  },
  setup(properties) {

  },
});
</script>

<style scoped>

</style>
