<template>
<div class="card"
:class="[
...(border ? ['card__border'] : []),
  ]">

<span>{{title}}</span>

</div>
</template>

<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'HB-Card',

  props: {
    border: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
      default: undefined,
    },
    content: {
        type:String,
        default: undefined
    }
  },
  setup(properties) {

  },
});
</script>
