<template>
  <Hb-Button primary as="a">
    <template v-slot:label>aaaa</template>
  </Hb-Button>

  <Hb-Card title="title from card">
    yolo
  </Hb-Card>
  <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import HelloWorld from './components/HelloWorld.vue';
import HbButton from '@/components/button/Button.vue';
import HbCard from '@/components/card/Card.vue';

export default defineComponent({
  name: 'App',
  components: {
    HbButton,
    HbCard,
    HelloWorld,
  },
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
